---
layout: single
permalink: /publications/
title: My Publications
---

Equal, shared first authorships are marked with <sup>*</sup>. A complete list of publications including conference posters and talks is available as download <a href="/pdfs/publications.pdf">here</a>. You can also browse my <a href="https://scholar.google.de/citations?user=YqZW19IAAAAJ&hl=en" target="_blank">Google Scholar profile</a>.


{% for y in site.data.publications %}
  <h2>{{ y.year }}</h2>
  {% for p in y.publications %}
    {% if forloop.first %}<ul>{% endif %}
      <li>{{ p.authors }}
        {% if y.year != "Under review" %} ({{ y.year }}){% endif %}
        {% if p.title %} {{ p.title }}{% endif %}
        {% if p.journal %} <i>{{ p.journal }}</i>{% endif %}
        {% if p.biorxiv and p.biorxiv_link%} <a href="{{ p.biorxiv_link }}" target="_blank">bioRxiv: {{ p.biorxiv }}</a>{% endif %}
        {% if p.medrxiv and p.medrxiv_link%} <a href="{{ p.medrxiv_link }}" target="_blank">medRxiv: {{ p.medrxiv }}</a>{% endif %}
        {% if p.pmid %} <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ p.pmid }}" target="_blank">PMID: {{ p.pmid }}</a>{% endif %}
        {% if p.doi %} <a href="https://doi.org/{{ p.doi }}" target="_blank">doi: {{ p.doi }}</a>{% endif %}
      </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
{% endfor %}
